@import "colors";

.s__categories {
  min-height: 100vh;
  position: relative;
}

.categories {
  &__wrapper {
    padding-top: 150px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: $main-color;
    background-image: url("../../images/icons/Pattern.svg");
    z-index: -1;
  }
  &__header {
    color: $white-color;
    padding-left: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &__text {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
    }
  }
  &__content {
    .row {
      margin: 0;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
