@import "colors";

.s {
  &__header {
    height: 96px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 100;
  }
}

.header {
  &__logo {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    a {
      display: block;

    }
  }
  &__nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      &__item {
        font-size: 18px;
        padding-right: 40px;
        text-decoration: none;
        color: $white-color;
      }
      &__item:hover {
        color: $secondary-color;
        transition: .5s;
      }
    }
  }
  &__right {
    position: absolute;
    display: block;
    right: 0;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    width: 120px;
    height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 36px 0;
    }
    &__icons {
      padding-left: 0;
      margin-bottom: 0;
      &__item {
        list-style: none;
        margin: 46px 0;
        position: relative;
        &__badge {
          background-color: $secondary-color;
          position: absolute;
          display: block;
          bottom: -5px;
          left: 50%;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          p {
            text-align: center;
            font-size: 12px;
            color: $white-color;
          }
        }
      }
      &__item:first-child {
        margin: 0;
      }
    }
    &__socials {
      padding-left: 0;
      margin-bottom: 0;
      &__item {
        list-style: none;
        margin: 20px 0;
      }
    }
  }
}
@media (max-width: 980px) {
  .header {
    &__nav{
      display: none;
    }
    &__right {
      display: none;
    }
}
}

@media (max-width: 768px) {
  .header__nav__list{
    display: none;
  }
  .header {
    &__logo {
      position: absolute;
      top: 50%;
      left: 80px;
      transform: translateY(-50%);
      a {
        display: block;
        img{
          width: 100%;
          height: 36px;
        }
      }
    }
    &__nav {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      display: none;
      &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        &__item {
          font-size: 18px;
          padding-right: 40px;
          text-decoration: none;
          color: $white-color;
        }
        &__item:hover {
          color: $secondary-color;
          transition: .5s;
        }
      }
    }
    &__right {
      display: none;
    }
  }
  .hidden__nav{
    width: 100%;
  }
  .header__logo{
    left: 20px;
  }
  .header__right__socials__item{
    margin: 0;
  }

}