@import "colors";

.hidden__nav {

  display: none;
  width: 550px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  animation-name: mini__menu__run;
  animation-duration: 0.5s;

  &__button:focus {
    outline: none;
  }

  &__button {
    position: absolute;
    right: 40px;
    top: 30px;
  }

  &__wrapper {
    padding: 30px 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    padding-left: 0;
    list-style: none;

    &__item {
      margin: 35px 0;

      a {
        color: $white-color;
        text-decoration: none;
      }

      a:hover {
        color: $secondary-color;
        transition: .5s;
      }

      &__in {
        list-style: none;

        li {
          margin: 15px 0;
        }
      }
    }
  }

}

.mini_menu_btn {
  display: none;
}
.hidden__header__right__wrapper{
  display: none;
}
@media (max-width: 980px) {
  .mini_menu_btn {
    display: block;
    position: absolute;
    right: 4%;
    top: 30%;
    z-index: 99999;
    a {
      img {
        width: 30px;
      }
    }
  }
  .hidden__nav {
    &__wrapper {
      display: none;
      padding: 30px 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 9998;
      .hidden__header__right__wrapper {
        display: block;
        .hidden__header__right__icons {
          list-style: none;
          .hidden__header__right__icons__item {
            list-style: none;
            position: relative;
            margin-right: 10px;
            .hidden__header__right__icons__item__badge {
              background-color: $secondary-color;
              position: absolute;
              display: block;
              bottom: -5px;
              left: 50%;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              p {
                text-align: center;
                font-size: 12px;
                color: $white-color;
              }
            }
          }
        }
        .hidden__header__right__phone{
          list-style: none;
          position: absolute;
          top: 60%;
          right: -85%;

        }
        .hidden__header__right__socials {
          position: absolute;
          top: 70%;
          right: -85%;
          margin: 0;
          .hidden__header__right__socials__item {
            list-style: none;
            margin: 20px 0;
          }
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .hidden__nav {
    position: relative;
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    z-index: 9999;
    animation-name: mini__menu__run;
    animation-duration: 0.5s;
    &__button:focus {
      outline: none;
    }

    &__button {
      position: absolute;
      right: 40px;
      top: 30px;
      z-index: 99999;
    }

    &__wrapper {
      display: none;
      padding: 30px 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 9998;
      .hidden__header__right__wrapper {
        display: block;
        .hidden__header__right__icons {
          list-style: none;
          .hidden__header__right__icons__item {
            list-style: none;
            position: relative;
            margin-right: 10px;
            .hidden__header__right__icons__item__badge {
              background-color: $secondary-color;
              position: absolute;
              display: block;
              bottom: -5px;
              left: 50%;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              p {
                text-align: center;
                font-size: 12px;
                color: $white-color;
              }
            }
          }
        }
        .hidden__header__right__phone{
          list-style: none;
          position: absolute;
          top: 60%;
          right: -85%;

        }
        .hidden__header__right__socials {
          position: absolute;
          top: 70%;
          right: -85%;
          margin: 0;
          .hidden__header__right__socials__item {
            list-style: none;
            margin: 20px 0;
          }
        }
      }
    }

    &__list {
      padding-left: 0;
      list-style: none;

      &__item {
        margin: 30px 0;

        a {
          color: $white-color;
          text-decoration: none;
        }

        a:hover {
          color: $secondary-color;
          transition: .5s;
        }

        &__in {
          list-style: none;

          li {
            margin: 15px 0;
          }
        }
      }
    }

  }
  }

  @keyframes mini__menu__run {
    0% {
      transform: translate(100%)
    }
    100% {
      transform: translate(0%)
    }
  }
  @keyframes close__mini__menu__run {
    0% {
      transform: translate(50%)
    }
    100% {
      transform: translate(0%) 
    }
  }