.news__section {

    color: $white-color;

    .title {
        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 38px;
            text-transform: uppercase;
        }
    }

    .news__items__section {
        .news__item {
            margin: 50px 0;

            .news__content__section {
                padding: 0;
                .news__created__date {
                    span {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 13px;
                    }
                }

                .title {
                    margin-top: 10px;

                    h3 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 29px;
                    }
                }

                .content {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                    margin: 20px 0;
                }

                .btn-read__more {
                    padding: 0;
                    border: none;
                    color: $white-color;
                    background: none;
                    span {
                        img {
                            width: 20px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .news__image__section {
            img {
                width: 500px;
                height: 300px;
                object-fit: contain;
            }
        }
    }

    .pagination {
        .pagination__items {
            margin-top: 50px;
            .pagination__item {
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white-color;
                    border: 1px solid $white-color;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    border-radius: 5px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 15px;
                    text-align: center;
                    background: none;
                }
                button:hover{
                    color: #A67C52;
                    border: 1px solid #A67C52;
                    transition: 0.3s;
                }

                .btn-active {
                    color: #A67C52;
                    border: 1px solid #A67C52;
                }

                .btn-next:hover, .btn-prev:hover{
                    color: #A67C52;
                    border: 1px solid #A67C52;
                    background-color:#A67C52
                }
            }
        }
    }
}
.btn:active{
    box-shadow:none;
}