.product__content {
    color: $white-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .row {
        --bs-gutter-x: 0.5em;
        --bs-gutter-y: 0;
    }
    #content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .product__about {
        margin-right: 50px;

        .column {
            #featured {
                width: 100%;
                height: 490px;
                object-fit: cover;
                cursor: pointer;
                background-color: $white-color;
            }

            .thumbnail {
                object-fit: cover;
                width: 180px;
                height: 100px;
                cursor: pointer;
                opacity: 0.5;
                margin-top: 28px;
                margin-right: 20px;
                margin-bottom: 5px;
            }

            .thumbnail:hover {
                opacity: 1;
            }

            .active {
                opacity: 1;
            }

            #slide-wrapper {
                display: flex;
                align-items: center;
            }

            #slider {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
            }

            #slider::-webkit-scrollbar {
                height: 5px;
            }

            #slider::-webkit-scrollbar-thumb {
                background-color: #2e2e2e;
                //   outline: 1px solid slategrey;
                border-radius: 100px;
            }

            #slider::-webkit-scrollbar-thumb:hover {
                background-color: #323333;
            }
        }

        .product__description {
            margin-top: 40px;
            width: 90%;

            .title {
                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 21px;
                }
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
            }
        }


        .product__content__about {
            padding-left: 30px;

            .product__category__name {
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                }

                span {
                    cursor: pointer;

                    img {
                        width: 21px;
                        height: 20px;
                    }
                }
            }

            .product__name {
                h2 {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 34px;
                    color: $white-color;
                    margin-top: 30px;
                }
            }

            .product__price {
                h3 {
                    color: $white-color;
                    font-size: 26px;
                    font-weight: bold;
                    margin-top: 30px;
                }
            }

            .product__add__cart__section {
                margin-top: 30px;

                .cart__count__section {
                    .title {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 15px;
                    }

                    .cart__count {
                        border-radius: 5px;
                        border: 2px solid #363636;
                        margin-left: 15px;

                        button {
                            background: #121212;
                            border: none;
                            color: $white-color;
                            padding: 12px 10px;
                        }

                        input {
                            border: none;
                            color: $white-color;
                            background: #121212;
                            padding: 12px 5px;
                            width: 45px;
                            text-align: center;
                        }

                        .plus {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .add__cart__button {
                    button {
                        padding: 18px 32px;
                        background: #A67C52;
                        color: $white-color;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 15px;
                        border-radius: 5px;
                        border: none;
                    }
                    :hover{
                        background: #8b6238;
                        transition: 0.3s;
                    }
                }
            }
        }

        .product__specifications {
            margin-top: 40px;

            .title {
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 21px;
                    margin-bottom: 30px;
                }
            }

            .product__specifications__item {
                h4 {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 25px;

                    span {
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }

            .product__payments {
                margin-top: 30px;

                .list__items {
                    padding-left: 20px;

                    .title {
                        list-style: none;

                        h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 21px;
                            margin-bottom: 20px;
                        }
                    }

                    .list__item {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }

            .product__shiping {
                margin-top: 30px;

                .list__items {
                    padding-left: 20px;

                    .title {
                        list-style: none;

                        h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 21px;
                            margin-bottom: 20px;
                        }
                    }

                    .list__item {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
        }
    }

    .fabrics__for__furniture {
        margin-top: 100px;
        background-color: #09432B;
        background-image: url("../../images/icons/Pattern.svg");
        z-index: -1;
        padding: 100px 0;

        .furniture__contents {
            .title {
                h3 {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 50px;
                    line-height: 54px;
                    text-transform: uppercase;
                }
            }

            .content {
                margin-top: 40px;

                p {
                    width: 80%;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }

        .furniture__galery {
            img {
                width: 500px;
            }

            .splide {
                width: 500px;

                .splide__arrows {

                    .splide__arrow--prev {
                        left: -4%;
                        background-color: #A67C52;
                        opacity: 1;
                        width: 40px;
                        height: 40px;

                        svg {
                            fill: #fff;
                        }
                    }
                    .splide__arrow--prev:hover{
                        box-shadow: 0px 0px 10px #ac8d6d;
                    }

                    .splide__arrow--next {
                        right: -4%;
                        background-color: #A67C52;
                        opacity: 1;
                        width: 40px;
                        height: 40px;

                        svg {
                            fill: #fff;
                        }
                    }
                    .splide__arrow--next:hover{
                        box-shadow: 0px 0px 10px #ac8d6d;
                    }
                }
            }
        }



    }


    .fabrics__for__furniture2 {
        margin-top: 100px;
        padding: 100px 0;

        .furniture__contents {
            .title {
                h3 {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 50px;
                    line-height: 54px;
                    text-transform: uppercase;
                }
            }

            .content {
                margin-top: 40px;

                p {
                    width: 80%;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }

        .furniture__galery {
            img {
                width: 500px;
            }

            .splide2 {
                position: relative;
                width: 500px;

                .splide__arrows {

                    .splide__arrow--prev {
                        position: absolute;
                        left: -4%;
                        background-color: #A67C52;
                        opacity: 1;
                        width: 40px;
                        height: 40px;

                        svg {
                            fill: #fff;
                        }
                    }
                    .splide__arrow--prev:hover{
                        box-shadow: 0px 0px 10px #ac8d6d;
                    }

                    .splide__arrow--next {
                        right: -4%;
                        background-color: #A67C52;
                        opacity: 1;
                        width: 40px;
                        height: 40px;

                        svg {
                            fill: #fff;
                        }
                    }
                    .splide__arrow--next:hover{
                        box-shadow: 0px 0px 10px #ac8d6d;
                    }
                }
            }
        }
    }

    .appointment__section {
        margin-top: 100px;
        background-color: #09432B;
        background-image: url("../../images/icons/Pattern.svg");
        z-index: -1;
        // padding: 100px 0;

        .container {
            width: 100%;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
            margin-right: auto;
            margin-left: auto;

            .appointment__content {
                .title {
                    h2 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 46px;
                        text-transform: uppercase;

                    }
                }

                .contnent {
                    padding-top: 20px;
                    padding-bottom: 30px;

                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 32px;
                    }
                }

                .call-me__section {
                    .title {
                        h4 {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 21px;
                        }

                        .phone__number {
                            margin-top: 20px;

                            h3 {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 30px;
                                line-height: 29px;
                            }
                        }

                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 32px;
                        }
                    }

                }

                .appointment-form__section {
                    margin-top: 20px;

                    .appointment-form__input {
                        display: block;
                        padding: 19px;
                        width: 80%;
                        background: rgba(255, 255, 255, 0.1);
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        backdrop-filter: blur(6px);
                        border-radius: 5px;
                        font-size: 16px;
                        color: #fff;
                        margin-top: 10px;
                    }

                    .appointment-form__input::placeholder {
                        color: $white-color;
                        font-size: 16px;
                    }

                    .btn-apponitment {
                        padding: 20px 32px;
                        background: #A67C52;
                        color: $white-color;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 15px;
                        border-radius: 5px;
                        border: none;
                        margin-top: 30px;
                    }

                    .btn-apponitment:hover {
                        background: #8b6238;
                    }
                }

            }

            .appointment__image {
                position: relative;

                .image {
                    img {
                        width: 130%;
                    }
                }

                .reseption__about {
                    position: absolute;
                    width: 1000px;
                    bottom: 0%;
                    left: 10%;
                    background: rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(20px);
                    border-radius: 5px;
                    padding: 20px 50px;
                    color: $black-color;

                    .name {
                        h4 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 40px;
                            line-height: 46px;
                            text-transform: uppercase;
                        }
                    }

                    .level {
                        width: 40%;

                        p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 32px;
                            color: $black-color;
                        }
                    }
                }
            }
        }
    }

    .skills__section {
        text-align: center;
        margin-top: 100px;

        .title {
            h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 46px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .skills__items {
            .skill__item {
                width: 25%;
                margin: 40px 0;

                img {
                    width: 60px;
                }

                span {
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                }
            }
        }
    }

    .recomendation__furneture {
        .title {
            margin-top: 100px;

            h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 46px;
                text-transform: uppercase;
            }
        }

        .recommend__card__price {
            color: #A67C52;
            font-size: 18px;
        }
    }

}

.about__me__main {
    color: $white-color;

    .container {
        position: relative;

        .about__me__content {
            width: 50%;
            margin: 0 auto;

            img {
                width: 430px;
                height: 500px;
            }

            .title {
                position: absolute;
                left: 0;

                h2 {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 38px;
                    text-transform: uppercase;
                }
            }

            .about__content {
                margin-top: 0;

                .sub__title {
                    margin: 50px 0;

                    h3 {
                        font-weight: 300;
                        font-size: 50px;
                        line-height: 50px;
                        text-transform: uppercase;
                    }
                }

                .content {
                    width: 80%;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                    margin-top: 10px;
                }
            }
        }

        .about__farm {

            .about__me__image {
                img {
                    width: 370px;
                    height: 370px;
                    object-fit: cover;
                }
            }

            .about__fram__content {
                margin: 120px 0;

                .sub__title {
                    h3 {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 50px;
                        line-height: 54px;
                        text-transform: uppercase;
                        width: 70%;
                    }
                }

                p {
                    width: 90%;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                    margin-top: 10px;
                }
            }
        }
    }


    .s__about {
        padding: 100px 0;
        background-color: #09432B;
        background-image: url("../../images/icons/Pattern.svg");
        z-index: -1;
    }
}

.awards__section {
    margin-top: 100px;

    .awards__title {
        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
        }
    }

    .awards__content {
        p {
            width: 85%;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .awards__carusel {
        margin-top: 150px;

        .splide {
            .splide__arrows {

                .splide__arrow {
                    background: none;
                    opacity: 1;
                }

                .splide__arrow--prev {
                    position: absolute;
                    top: -10%;
                    left: 35%;

                    svg {
                        display: none;
                    }

                }

                .splide__arrow--next {
                    position: absolute;
                    top: -10%;
                    right: 35%;

                    svg {
                        display: none;
                    }
                }
            }

            .splide__track {
                .splide__list {
                    .splide__slide {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 350px;
                        }
                    }

                    .splide__slide.is-active {
                        img {
                            width: 450px;
                        }
                    }
                }
            }
        }
    }
}

.become__a__part {
    margin: 100px 0 0 0;

    .title {
        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
        }
    }

    .content {
        margin: 0 auto;
        width: 50%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        margin-top: 50px;
    }

    .btn-apponitment {
        padding: 20px 40px;
        background: #A67C52;
        color: $white-color;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
    }

    .btn-apponitment:hover {
        background: #8b6238;
    }
}


@media (max-width: 768px) {
    .product__content {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        .product__about {
            margin-right: 0px;

            .column {
                #featured {
                    width: 100%;
                    height: 300px;
                }

            }

            .product__description {
                width: 100%;

                .title {
                    margin-bottom: 20px;

                    h3 {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 16px;
                }
            }


            .product__content__about {
                padding-left: 3px;

                .product__category__name {
                    h3 {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                .product__name {
                    h2 {
                        font-size: 28px;
                    }
                }

                .product__price {
                    h3 {
                        font-size: 22px;
                    }
                }

                .product__add__cart__section {
                    margin-top: 30px;

                    .cart__count__section {
                        .title {
                            font-size: 12px;
                            line-height: 0px;
                        }

                        .cart__count {
                            margin-left: 0;
                            width: 116px;
                            flex-direction: column;

                            button {
                                order: 1;
                                padding: 10px 10px;
                            }

                            input {
                                order: 2;
                                padding: 10px 5px;
                                width: 45px;
                                font-size: 16px;
                            }

                            .plus {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    .add__cart__button {
                        width: 100%;
                        margin-right: 10px;

                        button {
                            width: 100%;
                            padding: 20px 15px;
                            font-size: 16px;
                        }
                    }
                }
            }

            .product__specifications {
                margin-top: 40px;

                .title {
                    h2 {
                        font-size: 20px;
                        margin-bottom: 30px;
                    }
                }

                .product__specifications__item {
                    h4 {
                        font-size: 16px;

                        span {
                            margin-left: 5px;
                        }
                    }
                }

                .product__payments {
                    margin-top: 30px;

                    .list__items {
                        padding-left: 20px;

                        .title {
                            list-style: none;

                            h3 {
                                font-size: 20px;
                                line-height: 21px;
                                margin-bottom: 20px;
                            }
                        }

                        .list__item {
                            font-size: 16px;
                            line-height: 25px;
                        }
                    }
                }

                .product__shiping {
                    margin-top: 30px;

                    .list__items {
                        padding-left: 20px;

                        .title {
                            list-style: none;

                            h3 {
                                font-size: 22px;
                                line-height: 21px;
                                margin-bottom: 20px;
                            }
                        }

                        .list__item {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        .fabrics__for__furniture {
            margin-top: 100px;
            background-color: #09432B;
            background-image: url("../../images/icons/Pattern.svg");
            z-index: -1;
            padding: 100px 0;
            padding-bottom: 150px;
            .row {
                padding: 0;
                margin: 0 auto;

                .furniture__contents {
                    .title {

                        h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 26px;
                            line-height: 54px;
                            text-transform: uppercase;
                        }
                    }

                    .content {
                        margin-top: 40px;

                        p {
                            width: 100%;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }
                }

                .furniture__galery {
                    position: relative;
                    img {
                        width: 100%;
                    }

                    .splide {
                        width: 100%;

                        .splide__arrows {

                            .splide__arrow--prev {
                                position: absolute;
                                top: 110%;
                                left: 35%;
                                background-color: #A67C52;
                                opacity: 1;
                                width: 40px;
                                height: 40px;

                                svg {
                                    fill: #fff;
                                }
                            }

                            .splide__arrow--next {
                                position: absolute;
                                top: 110%;
                                right: 35%;
                                background-color: #A67C52;
                                opacity: 1;
                                width: 40px;
                                height: 40px;

                                svg {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }



        }

        .fabrics__for__furniture2 {
            margin: 0;
            padding-top: 50px;
            padding-bottom: 50px;
            .row {
                padding: 0;
                margin: 0 auto;

                .furniture__contents {
                    order: 1;

                    .title {
                        h3 {
                            font-weight: bold;
                            font-size: 26px;
                            line-height: none;
                            text-transform: uppercase;
                        }
                    }

                    .content {
                        // margin-top: 40px;

                        p {
                            width: 100%;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }
                }

                .furniture__galery {
                    order: 2;

                    img {
                        width: 100%;
                    }

                    .splide2 {
                        position: relative;
                        width: 100%;

                        .splide__arrows {

                            .splide__arrow--prev {
                                position: absolute;
                                top: 110%;
                                left: 35%;
                                background-color: #A67C52;
                                opacity: 1;
                                width: 40px;
                                height: 40px;

                                svg {
                                    fill: #fff;
                                }
                            }

                            .splide__arrow--next {
                                position: absolute;
                                top: 110%;
                                right: 35%;
                                background-color: #A67C52;
                                opacity: 1;
                                width: 40px;
                                height: 40px;

                                svg {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .appointment__section {
            padding: 80px 0;

            .container {
                .appointment__content {
                    .title {
                        h2 {
                            font-size: 26px;

                        }
                    }

                    .contnent {
                        p {
                            font-size: 16px;
                            line-height: 25px;
                        }
                    }

                    .call-me__section {
                        .title {
                            h4 {
                                font-size: 16px;
                                line-height: 15px;
                            }

                            .phone__number {
                                margin: 20px 0;
                                h3 {
                                    font-size: 24px;
                                    line-height: 23px;
                                }
                            }

                            p {
                                font-size: 16px;
                                line-height: 15px;
                            }
                        }

                    }

                    .appointment-form__section {
                        margin-top: 20px;

                        .appointment-form__input {
                            display: block;
                            padding: 17px 21px;
                            font-size: 13px;
                            margin-top: 20px;
                            width: 100%;
                        }
                    }

                }

                .appointment__image {
                    display: none;
                }
            }
        }

        .skills__section {
            text-align: center;
            margin-top: 100px;
    
            .title {
                h2 {
                    font-size: 30px;
                    line-height: 36px;
                }
            }
    
            .skills__items {
                width: 90%;
                margin: 0 auto;
                .skill__item {
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }

        .recomendation__furneture {
            .title {
                h3 {
                    font-size: 30px;
                    line-height: 32px;
                }
            }
        }
    
        
    }
}