@import "header";
@import "home";
@import "preloader";
@import "hidden-nav";
@import "categories";
@import "colors";
@import "recommend";
@import "catalogue";
@import "about";
@import "footer";
@import "breadcrumb";
@import "basket";
@import "product";
@import "productabout";
@import "clients";
@import "production";
@import "partners";
@import "news";
@import "news_item";
@import "services";


body {
  overflow-x: hidden;
  background-color: $dark-color;
}

.cancel__icon__dark {
  stroke: #363636;
  fill: #FFFFFF;
}
