@charset "UTF-8";
.s__header {
  height: 96px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}
.header__logo a {
  display: block;
}
.header__nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.header__nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.header__nav__list__item {
  font-size: 18px;
  padding-right: 40px;
  text-decoration: none;
  color: #FFFFFF;
}
.header__nav__list__item:hover {
  color: #A67C52;
  transition: 0.5s;
}
.header__right {
  position: absolute;
  display: block;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 120px;
  height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.header__right__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}
.header__right__icons {
  padding-left: 0;
  margin-bottom: 0;
}
.header__right__icons__item {
  list-style: none;
  margin: 46px 0;
  position: relative;
}
.header__right__icons__item__badge {
  background-color: #A67C52;
  position: absolute;
  display: block;
  bottom: -5px;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.header__right__icons__item__badge p {
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
}
.header__right__icons__item:first-child {
  margin: 0;
}
.header__right__socials {
  padding-left: 0;
  margin-bottom: 0;
}
.header__right__socials__item {
  list-style: none;
  margin: 20px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.mousewheel {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 36px;
  left: 50%;
  z-index: 100;
  text-align: center;
}
.mousewheel a {
  display: block;
  height: 100%;
}

.s__home .carousel {
  height: 100vh;
}
.s__home .carousel__caption {
  position: absolute;
  left: 230px;
  bottom: 1.25rem;
  top: 50%;
  width: 570px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #FFFFFF;
  text-align: left;
  z-index: 3;
}
.s__home .carousel__caption h1 {
  font-size: 64px;
  font-weight: bold;
}
.s__home .carousel__caption a {
  display: block;
  margin-top: 40px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bolder;
}
.s__home .carousel__caption a img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.s__home .carousel__caption a:hover {
  opacity: 70%;
  transition: 0.5s;
}
.s__home .carousel-inner {
  height: 100%;
}
.s__home .carousel-item {
  height: 100%;
}
.s__home .carousel-item img {
  height: 100%;
  z-index: -2;
}
.s__home .carousel__controller__wrapper {
  display: block;
  position: absolute;
  top: 90%;
  left: 100px;
  z-index: 100;
}
.s__home .carousel__controller__wrapper .btn:focus {
  outline: none;
  box-shadow: none;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #000000;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #A67C52;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 1.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.hidden__nav {
  display: none;
  width: 550px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.hidden__nav__button:focus {
  outline: none;
}
.hidden__nav__button {
  position: absolute;
  right: 40px;
  top: 30px;
}
.hidden__nav__wrapper {
  padding: 30px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hidden__nav__list {
  padding-left: 0;
  list-style: none;
}
.hidden__nav__list__item {
  margin: 35px 0;
}
.hidden__nav__list__item a {
  color: #FFFFFF;
  text-decoration: none;
}
.hidden__nav__list__item a:hover {
  color: #A67C52;
  transition: 0.5s;
}
.hidden__nav__list__item__in {
  list-style: none;
}
.hidden__nav__list__item__in li {
  margin: 15px 0;
}

.s__categories {
  min-height: 100vh;
  position: relative;
}

.categories__image img:hover {
  transform: scale(1.05);
  transition: 0.4s;
}
.categories__wrapper {
  padding-top: 150px;
}
.categories__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #09432B;
  background-image: url("../../images/icons/Pattern.svg");
  z-index: -1;
}
.categories__header {
  color: #FFFFFF;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.categories__header__text {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.categories__content .row {
  margin: 0;
}
.categories__caption {
  display: block;
  margin-top: 10px;
}
.categories__caption a {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
.recommend__card {
  height: 540px;
}
.recommend__card__image {
  background-color: #FFFFFF;
}
.recommend__card__image button {
  top: 5%;
  right: 5%;
}
.recommend__card__caption {
  text-decoration: none;
}
.recommend__card__title {
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 5px;
}
.recommend__card__title:hover {
  color: #A67C52;
  transition: 0.3s;
}
.recommend__card__price {
  color: #A67C52;
  font-weight: bolder;
}
.recommend__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.recommend__list__item {
  margin-right: 20px;
}
.recommend__list__item a {
  color: #FFFFFF !important;
  font-size: 20px;
  font-weight: bolder;
}
.recommend__list--active a {
  color: #A67C52 !important;
}
.recommend__list__item:hover a {
  color: #A67C52 !important;
  transition: 0.3s;
}
.recommend__button {
  padding: 12px 30px;
  background-color: #A67C52;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bolder;
}
.recommend__button__wrapper {
  text-align: center;
  margin: 50px 0px;
}
.recommend__button:hover {
  color: #FFFFFF;
}

.s__catalogue {
  height: 50vh;
  position: relative;
}

.catalogue__wrapper {
  padding: 50px 0;
}
.catalogue__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09432B;
  background-image: url("../../images/icons/Pattern.svg");
  z-index: -1;
}
.catalogue__image {
  height: 90%;
}
.catalogue__content h4 {
  color: #FFFFFF;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 20px;
}
.catalogue__content p {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 20px;
  padding: 20px 0;
  width: 70%;
}

.s__about {
  margin: 120px 0 0;
}

.about__header__year {
  position: relative;
  margin-right: 90px;
}
.about__header__year h1 {
  font-weight: bold;
  font-size: 360px !important;
  color: #A67C52;
  line-height: 0.7;
  margin-bottom: 0;
}
.about__header__year span {
  position: absolute;
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 32px;
  bottom: -20px;
  left: 330px;
}
.about__header__content h4 {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  width: 90%;
}
.about__header__content p {
  font-size: 18px;
  color: #FFFFFF;
  width: 90%;
}
.about__header__content a {
  color: #A67C52;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.about__header__content a p {
  color: #A67C52;
  margin-bottom: 0;
  margin-right: 10px;
  width: auto;
}
.about__content {
  margin-top: 140px;
}
.about__content__text {
  color: #FFFFFF;
}
.about__content__text h5 {
  font-weight: bold;
  font-size: 22px;
  width: 80%;
}
.about__content__text p {
  margin-top: 20px !important;
  font-size: 18px;
  padding-right: 20px;
}
.about__content__list__item {
  list-style: none;
  display: flex;
  margin-bottom: 90px;
}
.about__content__icon {
  padding-right: 50px;
}

.footer__content {
  border-top: 0.8px solid #FFFFFF;
  border-bottom: 0.8px solid #FFFFFF;
}
.footer__list {
  margin: 80px 0;
}
.footer__list__item {
  list-style: none;
  margin: 20px 0;
}
.footer__list__item h5 {
  color: #A67C52;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer__list__item a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  overflow-x: hidden;
  background-color: #000000;
}

/*# sourceMappingURL=main.css.map */
